In [1]:


from jgtpy import JGTIDS as ids,JGTIDSRequest as RQ
from jgtpy import jgtapyhelper as tah
from jgtpy import JGTPDSP as pds

from jgtutils import jgtos as jos

import pandas as pd

### Corrections

#### 
* _dt_requirements in def _get_ph_surely_fresh(... should be UTC and should return a date requirement that is different according to the timeframe.

```
Refactor using this rule about the trading hours : 
>Open: Sundays, between 5:00 and 5:15 pm EST. Close: Fridays, around 4:55 pm EST. Closed: Fridays 5:00 pm to Sunday 5:00 pm EST.

If we are the weekend, we will want that '_dt_requirements' to be the moment it closed.  Consider it is different foreach timeframes.ex. value when it closes : 
M1 : 2024-05-31 21:00:00
W1 : 2024-06-08 21:00:00
D1 : 2024-06-13 21:00:00
H4 : 2024-06-14 17:00:00
H1 : 2024-06-14 20:00:00
m15 : 2024-06-14 20:30:00
m5 : 2024-06-14 20:40:00

```

In [2]:

i="SPX500"
tfcontext = ["M1","W1","D1","H4","H1","m15","m5"]
tfcontext = ["M1","W1","D1","H8","H6","H4","H3","H2","H1","m30","m15","m5","m1"]

#### Validate jgtutils.jgtos

In [3]:

for t in tfcontext:
  print(t)
  print(jos.mk_fn(i,t))
  print(jos.get_pov_local_data_filename(i,t))

M1
SPX500_M1.csv
/src/_jgt/data/pds/SPX500_M1.csv
W1
SPX500_W1.csv
/src/_jgt/data/pds/SPX500_W1.csv
D1
SPX500_D1.csv
/src/_jgt/data/pds/SPX500_D1.csv
H8
SPX500_H8.csv
/src/_jgt/data/pds/SPX500_H8.csv
H6
SPX500_H6.csv
/src/_jgt/data/pds/SPX500_H6.csv
H4
SPX500_H4.csv
/src/_jgt/data/pds/SPX500_H4.csv
H3
SPX500_H3.csv
/src/_jgt/data/pds/SPX500_H3.csv
H2
SPX500_H2.csv
/src/_jgt/data/pds/SPX500_H2.csv
H1
SPX500_H1.csv
/src/_jgt/data/pds/SPX500_H1.csv
m30
SPX500_m30.csv
/src/_jgt/data/pds/SPX500_m30.csv
m15
SPX500_m15.csv
/src/_jgt/data/pds/SPX500_m15.csv
m5
SPX500_m5.csv
/src/_jgt/data/pds/SPX500_m5.csv
m1
SPX500_mi1.csv
/src/_jgt/data/pds/SPX500_mi1.csv

In [4]:
REFRESH_DATA=False

for t in tfcontext:
  #print(t)
  
  if REFRESH_DATA:tdf=pds.getPH(i,t,use_fresh=True)
  
  fn=pds.get_pov_local_data_filename(i,t)
  #print(fn)
  df=pd.read_csv(fn)
  #print last row's Date column
  print(t,":",df.iloc[-1]["Date"])

M1 : 2024-05-31 21:00:00
W1 : 2024-06-08 21:00:00
D1 : 2024-06-16 21:00:00
H8 : 2024-06-14 13:00:00
H6 : 2024-06-14 15:00:00
H4 : 2024-06-14 17:00:00
H3 : 2024-06-14 18:00:00
H2 : 2024-06-14 19:00:00
H1 : 2024-06-14 20:00:00
m30 : 2024-06-14 20:30:00
m15 : 2024-06-14 20:30:00
m5 : 2024-06-14 20:40:00
m1 : 2024-06-14 20:44:00

In [5]:



for t in tfcontext:
  #print(t)
  
  fn=pds.get_pov_local_data_filename(i,t)
  #print(fn)
  df=pd.read_csv(fn)
  use_UTC = True
  supposed_data_req_for_tf=pds._get_dt_requirement_for_tf(t,use_UTC)
  #print last row's Date column
  print(t,":",df.iloc[-1]["Date"], " vs : ", supposed_data_req_for_tf)

M1 : 2024-05-31 21:00:00  vs :  2024-06-16 16:55:00-05:00
W1 : 2024-06-08 21:00:00  vs :  2024-06-16 16:55:00-05:00
D1 : 2024-06-16 21:00:00  vs :  2024-06-16 16:55:00-05:00
H8 : 2024-06-14 13:00:00  vs :  2024-06-16 16:55:00-05:00
H6 : 2024-06-14 15:00:00  vs :  2024-06-16 16:55:00-05:00
H4 : 2024-06-14 17:00:00  vs :  2024-06-16 16:55:00-05:00
H3 : 2024-06-14 18:00:00  vs :  2024-06-16 16:55:00-05:00
H2 : 2024-06-14 19:00:00  vs :  2024-06-16 16:55:00-05:00
H1 : 2024-06-14 20:00:00  vs :  2024-06-16 16:55:00-05:00
m30 : 2024-06-14 20:30:00  vs :  2024-06-16 16:55:00-05:00
m15 : 2024-06-14 20:30:00  vs :  2024-06-16 16:55:00-05:00
m5 : 2024-06-14 20:40:00  vs :  2024-06-16 16:55:00-05:00
m1 : 2024-06-14 20:44:00  vs :  2024-06-16 16:55:00-05:00

In [6]:

t="D1"

quote_count=1200

talligator_flag=False
balligator_flag=True
if talligator_flag:
  quote_count=1200

In [7]:
# dfsrc = pds.getPH(i,t,use_fresh=False,quote_count=quote_count)
dfsrc = pds.getPH(i,t,use_fresh=False,talligator_flag=talligator_flag,quote_count=quote_count)

_dt_requirements: 2024-06-17 21:12:24.741624 dt_crop_last: None
ldf: 1289

In [8]:
dfsrc.tail(1)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,High,Low,Close,Median
Date,,,,,,,,,,,,,,
2024-06-16 21:00:00,5429.92,5435.82,5428.3,5432.07,5430.32,5436.42,5428.9,5432.67,6717,5430.12,5436.12,5428.6,5432.37,5432.36

## --@STCIssue We Have 439 Rows when expected is 1200

```sh
wc -l /src/_jgt/data/pds/SPX500_D1.csv
>1290 /src/_jgt/data/pds/SPX500_D1.csv
```
### --@Observation we have 1290 in the file but the function reads 439.

In [9]:

dfsrc2=dfsrc.copy()
dfsrc

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,High,Low,Close,Median
Date,,,,,,,,,,,,,,
2019-10-27 21:00:00,3021.40,3044.60,3021.40,3039.10,3022.20,3045.10,3022.20,3039.48,222067,3021.80,3044.85,3021.80,3039.29,3033.325
2019-10-28 21:00:00,3039.10,3047.86,3031.50,3037.86,3039.48,3048.70,3032.10,3038.84,220967,3039.29,3048.28,3031.80,3038.35,3040.040
2019-10-29 21:00:00,3037.86,3056.10,3025.10,3052.50,3038.84,3057.10,3025.94,3053.14,212270,3038.35,3056.60,3025.52,3052.82,3041.060
2019-10-30 21:00:00,3052.50,3053.76,3021.90,3037.32,3053.14,3054.50,3022.44,3037.70,354250,3052.82,3054.13,3022.17,3037.51,3038.150
2019-10-31 21:00:00,3037.32,3066.36,3034.74,3064.86,3037.70,3066.92,3035.16,3065.22,248857,3037.51,3066.64,3034.95,3065.04,3050.795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-10 21:00:00,5362.98,5380.13,5328.43,5377.98,5363.38,5380.73,5328.93,5378.38,83933,5363.18,5380.43,5328.68,5378.18,5354.555
2024-06-11 21:00:00,5377.98,5449.28,5374.73,5433.32,5378.38,5449.78,5375.33,5433.72,135387,5378.18,5449.53,5375.03,5433.52,5412.280
2024-06-12 21:00:00,5433.32,5447.68,5403.46,5431.18,5433.72,5448.28,5403.96,5431.78,102589,5433.52,5447.98,5403.71,5431.48,5425.845
2024-06-13 21:00:00,5431.18,5437.32,5392.30,5429.92,5431.78,5437.92,5392.90,5430.32,126577,5431.48,5437.62,5392.60,5430.12,5415.110
2024-06-16 21:00:00,5429.92,5435.82,5428.30,5432.07,5430.32,5436.42,5428.90,5432.67,6717,5430.12,5436.12,5428.60,5432.37,5432.360