In [6]:

from jgtpy import JGTIDS as ids,JGTIDSRequest as RQ
from jgtpy import jgtapyhelper as tah
from jgtpy import JGTPDSP as pds


Here is the function I Coded myself to Adds MFI (Market Facilitation Index (reference: B. Williams)) squat column logics in order to validate and learn if the usage of the SQUAT in the last observed wave could help algorithm in decision to trade or not when we have trading signals.

```python



def _ids_add_mfi_squat_column_logics_v1(dfsrc, quiet=False):
    """
    Adds MFI (Market Facilitation Index (reference: B. Williams)) squat column logics to the given DataFrame.

    Parameters:
    - dfsrc (DataFrame): The input DataFrame to which the MFI squat column logics will be added.
    - quiet (bool): If True, suppresses the output messages. Default is False.

    Returns:
    - dfsrc (DataFrame): The updated DataFrame with the MFI squat column logics added.
    """

    dfsrc["mfi_sq"] = (
        (dfsrc.Volume > 0)
        & (dfsrc.Volume > dfsrc.Volume.shift())
        & (dfsrc.mfi < dfsrc.mfi.shift())
    ).astype(int)
    dfsrc["mfi_green"] = (
        (dfsrc.Volume > 0)
        & (dfsrc.Volume > dfsrc.Volume.shift())
        & (dfsrc.mfi > dfsrc.mfi.shift())
    ).astype(int)
    dfsrc["mfi_fade"] = (
        (dfsrc.Volume > 0)
        & (dfsrc.Volume < dfsrc.Volume.shift())
        & (dfsrc.mfi < dfsrc.mfi.shift())
    ).astype(int)
    dfsrc["mfi_fake"] = (
        (dfsrc.Volume > 0)
        & (dfsrc.Volume < dfsrc.Volume.shift())
        & (dfsrc.mfi > dfsrc.mfi.shift())
        ).astype(int)
    dfsrc["mfi_sig"] = dfsrc.apply(
         lambda row: 4 if row["mfi_sq"] > 0 else 1 if row["mfi_green"] > 0 else 2 if row["mfi_fade"]>0 else 3 if row["mfi_fake"]>0 else 0 , axis=1
     )
    dfsrc["mfiv"] = dfsrc.apply(
         lambda row: "++" if row["mfi_sig"] == 1 else "--" if row["mfi_sig"] == 2 else "-+" if row["mfi_sig"] == 3 else "+-" if row["mfi_sig"] == 4 else "0" , axis=1)
    return dfsrc



```
## Usage:

```python

from jgtpy import JGTIDSRequest as RQ
from jgtpy import jgtapyhelper as tah
from jgtpy import JGTPDSP as pds

## Get data
i="SPX500";t="D1"
dfsrc = pds.getPH(i,t,use_fresh=False)

#### Create our current Indicators


rq = RQ.JGTIDSRequest(i,t)
res_tah= tah.toids(dfsrc,rq=rq)


df_res_tah_with_mfi_sig=_ids_add_mfi_squat_column_logics_v1(res_tah)

```


You analyze the code, learn from it, suggest best practices or approve it and produce abstract, documentations etc to explain it.

### PURPOSE: Adequate Migration of IDS to TAH

## Get data

In [7]:

i="SPX500";t="D1"

In [8]:
# Compare the two datasets from ids.tocds(... ) and tah.toids(...)
## -->  MAKE A PLAN

In [9]:
dfsrc = pds.getPH(i,t,use_fresh=False)

In [10]:
dfsrc.head(2)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,High,Low,Close,Median
Date,,,,,,,,,,,,,,
2022-09-05 21:00:00,3935.91,3961.92,3886.21,3907.91,3936.41,3963.24,3886.71,3908.51,188071,3936.16,3962.58,3886.46,3908.21,3924.520
2022-09-06 21:00:00,3907.91,3988.37,3883.07,3978.67,3908.51,3988.87,3883.67,3979.07,145452,3908.21,3988.62,3883.37,3978.87,3935.995

In [11]:
dfsrc.tail(2)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,High,Low,Close,Median
Date,,,,,,,,,,,,,,
2024-05-15 21:00:00,5309.24,5327.41,5294.09,5294.61,5309.84,5327.91,5294.69,5295.21,106258,5309.54,5327.66,5294.39,5294.91,5311.025
2024-05-16 21:00:00,5294.61,5307.80,5284.78,5306.98,5295.21,5308.30,5285.28,5307.58,50386,5294.91,5308.05,5285.03,5307.28,5296.540

#### Create our current Indicators

In [12]:

rq = RQ.JGTIDSRequest(i,t)

In [13]:

res_jgtids = ids.tocds(dfsrc,rq=rq)

In [37]:


def _ids_add_mfi_squat_column_logics_v1(dfsrc, quiet=False):
    """
    Adds MFI (Market Facilitation Index (reference: B. Williams)) squat column logics to the given DataFrame.

    Parameters:
    - dfsrc (DataFrame): The input DataFrame to which the MFI squat column logics will be added.
    - quiet (bool): If True, suppresses the output messages. Default is False.

    Returns:
    - dfsrc (DataFrame): The updated DataFrame with the MFI squat column logics added.
    """

    dfsrc["mfi_sq"] = (
        (dfsrc.Volume > 0)
        & (dfsrc.Volume > dfsrc.Volume.shift())
        & (dfsrc.mfi < dfsrc.mfi.shift())
    ).astype(int)
    dfsrc["mfi_green"] = (
        (dfsrc.Volume > 0)
        & (dfsrc.Volume > dfsrc.Volume.shift())
        & (dfsrc.mfi > dfsrc.mfi.shift())
    ).astype(int)
    dfsrc["mfi_fade"] = (
        (dfsrc.Volume > 0)
        & (dfsrc.Volume < dfsrc.Volume.shift())
        & (dfsrc.mfi < dfsrc.mfi.shift())
    ).astype(int)
    dfsrc["mfi_fake"] = (
        (dfsrc.Volume > 0)
        & (dfsrc.Volume < dfsrc.Volume.shift())
        & (dfsrc.mfi > dfsrc.mfi.shift())
        ).astype(int)
    dfsrc["mfi_sig"] = dfsrc.apply(
         lambda row: 4 if row["mfi_sq"] > 0 else 1 if row["mfi_green"] > 0 else 2 if row["mfi_fade"]>0 else 3 if row["mfi_fake"]>0 else 0 , axis=1
     )
    dfsrc["mfiv"] = dfsrc.apply(
         lambda row: "++" if row["mfi_sig"] == 1 else "--" if row["mfi_sig"] == 2 else "-+" if row["mfi_sig"] == 3 else "+-" if row["mfi_sig"] == 4 else "0" , axis=1)
    return dfsrc

In [38]:
with_squat=_ids_add_mfi_squat_column_logics_v1(res_jgtids).copy()

In [39]:
with_squat.tail(2)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,...,price_peak_above,price_peak_bellow,ao_peak_above,ao_peak_bellow,mfi_sq,mfi_green,mfi_fade,mfi_fake,mfi_sig,mfiv
Date,,,,,,,,,,,,,,,,,,,,,
2024-05-15 21:00:00,5309.24,5327.41,5294.09,5294.61,5309.84,5327.91,5294.69,5295.21,106258,5309.54,...,0,0,0,0,1,0,0,0,4,+-
2024-05-16 21:00:00,5294.61,5307.80,5284.78,5306.98,5295.21,5308.30,5285.28,5307.58,50386,5294.91,...,0,0,0,0,0,0,0,1,3,-+

In [40]:

col_selected=["Volume","mfiv","mfi","mfi_sq","mfi_green","mfi_fade","mfi_fake","mfi_sig"]
observed_mfi_n_sig=with_squat[col_selected]

In [41]:
observed_mfi_n_sig

,Volume,mfiv,mfi,mfi_sq,mfi_green,mfi_fade,mfi_fake,mfi_sig
Date,,,,,,,,
2023-03-28 21:00:00,91914,0,60.523968,0,0,0,0,0
2023-03-29 21:00:00,93048,+-,37.894420,1,0,0,0,4
2023-03-30 21:00:00,89362,-+,70.510955,0,0,0,1,3
2023-04-02 21:00:00,99672,+-,35.135244,1,0,0,0,4
2023-04-03 21:00:00,110092,++,51.338880,0,1,0,0,1
...,...,...,...,...,...,...,...,...
2024-05-12 21:00:00,43521,-+,70.655546,0,0,0,1,3
2024-05-13 21:00:00,59901,++,95.799736,0,1,0,0,1
2024-05-14 21:00:00,57607,-+,123.005885,0,0,0,1,3
2024-05-15 21:00:00,106258,+-,31.310584,1,0,0,0,4
2024-05-16 21:00:00,50386,-+,45.687294,0,0,0,1,3

## BELLOW CONFIRM What is Expected

* JGTIDS (which is more than just IDS) has 60 columns
* TAH (jgtapyhelper) has 41 columns, just IDS

#### In summary

* JGTIDS with ids.tocds(...) GENERATES SIGNALS

----


#### TOCDS (JGTIDS) Signal Columns

fdbb
fdbs
fdb
aoaz
aobz
zlc
zlcb
zlcs
zcol
sz
bz
acs
acb
ss
sb
price_peak_above
price_peak_bellow
ao_peak_above
ao_peak_bellow

----

In [25]:
res_tah= tah.toids(dfsrc,rq=rq)

 ADDING SQUAT PROTO

In [42]:


df_res_tah_with_mfi_sig=_ids_add_mfi_squat_column_logics_v1(res_tah)
res_tah_with_mfi_sig=df_res_tah_with_mfi_sig.copy()
observed_mfi_n_sig_tah=res_tah_with_mfi_sig[col_selected]

In [43]:

observed_mfi_n_sig_tah.tail(2)

,Volume,mfiv,mfi,mfi_sq,mfi_green,mfi_fade,mfi_fake,mfi_sig
Date,,,,,,,,
2024-05-15 21:00:00,106258,+-,31.310584,1,0,0,0,4
2024-05-16 21:00:00,50386,-+,45.687294,0,0,0,1,3

In [ ]:
res_tah.tail(2)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,...,fl13,fh21,fl21,fh34,fl34,fh55,fl55,fh89,fl89,mfi
Date,,,,,,,,,,,,,,,,,,,,,
2024-05-17 13:00:00,5304.98,5304.98,5292.04,5299.53,5305.58,5305.58,5292.54,5300.03,19091,5305.28,...,0,0,0,0,0,0,0,0,0,68.042533
2024-05-17 17:00:00,5299.53,5307.80,5284.78,5306.98,5300.03,5308.30,5285.28,5307.58,12850,5299.78,...,0,0,0,0,0,0,0,0,0,179.143969

In [ ]:
res_jgtids.tail(2)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,...,sz,bz,acs,acb,ss,sb,price_peak_above,price_peak_bellow,ao_peak_above,ao_peak_bellow
Date,,,,,,,,,,,,,,,,,,,,,
2024-05-17 13:00:00,5304.98,5304.98,5292.04,5299.53,5305.58,5305.58,5292.54,5300.03,19091,5305.28,...,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0
2024-05-17 17:00:00,5299.53,5307.80,5284.78,5306.98,5300.03,5308.30,5285.28,5307.58,12850,5299.78,...,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0

In [ ]:
res_jgtids.columns

Index(['BidOpen', 'BidHigh', 'BidLow', 'BidClose', 'AskOpen', 'AskHigh',
       'AskLow', 'AskClose', 'Volume', 'Open', 'High', 'Low', 'Close',
       'Median', 'ao', 'ac', 'jaw', 'teeth', 'lips', 'bjaw', 'bteeth', 'blips',
       'fh', 'fl', 'fh3', 'fl3', 'fh5', 'fl5', 'fh8', 'fl8', 'fh13', 'fl13',
       'fh21', 'fl21', 'fh34', 'fl34', 'fh55', 'fl55', 'fh89', 'fl89', 'mfi',
       'fdbb', 'fdbs', 'fdb', 'aoaz', 'aobz', 'zlc', 'zlcb', 'zlcs', 'zcol',
       'sz', 'bz', 'acs', 'acb', 'ss', 'sb', 'price_peak_above',
       'price_peak_bellow', 'ao_peak_above', 'ao_peak_bellow'],
      dtype='object')

In [ ]:
res_tah.columns

Index(['BidOpen', 'BidHigh', 'BidLow', 'BidClose', 'AskOpen', 'AskHigh',
       'AskLow', 'AskClose', 'Volume', 'Open', 'High', 'Low', 'Close',
       'Median', 'ao', 'ac', 'jaw', 'teeth', 'lips', 'bjaw', 'bteeth', 'blips',
       'fh', 'fl', 'fh3', 'fl3', 'fh5', 'fl5', 'fh8', 'fl8', 'fh13', 'fl13',
       'fh21', 'fl21', 'fh34', 'fl34', 'fh55', 'fl55', 'fh89', 'fl89', 'mfi'],
      dtype='object')

In [ ]:

# Compare the two datasets from ids.tocds(... ) and tah.toids(...)
## List of columns that are different
for c in res_jgtids.columns:
    if c not in res_tah.columns:
        print(c)

fdbb
fdbs
fdb
aoaz
aobz
zlc
zlcb
zlcs
zcol
sz
bz
acs
acb
ss
sb
price_peak_above
price_peak_bellow
ao_peak_above
ao_peak_bellow