In [1]:


import sys
import os
import pandas as pd


# Use the current working directory instead of __file__
current_working_directory = os.getcwd()
sys.path.insert(0, current_working_directory)

In [2]:
from jgtpy import mfihelper as mfih

In [3]:

t="D1"
ctxfn="/b/Dropbox/_jgongery/hfsp_basjupyterlab2406private/data/jgtml_mx_pto_240702_CONT02_mfi_str_df_SPX500_D1.csv"
ctxfn="/var/lib/jgt/full/data/cds/SPX500_D1.csv"

In [4]:
df=pd.read_csv(ctxfn, index_col=0, parse_dates=True)

In [5]:
df

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,...,price_peak_above,price_peak_bellow,ao_peak_above,ao_peak_bellow,mfi_sq,mfi_green,mfi_fade,mfi_fake,mfi_sig,mfi_str
Date,,,,,,,,,,,,,,,,,,,,,
1982-04-21 22:00:00,115.48,116.58,114.44,115.72,115.48,116.58,114.44,115.72,0,115.48,...,0,0,0,0,0,0,0,0,0,0
1982-04-22 22:00:00,115.72,117.25,115.72,117.19,115.72,117.25,115.72,117.19,0,115.72,...,0,0,0,0,0,0,0,0,0,0
1982-04-23 22:00:00,118.02,118.64,117.19,118.64,118.02,118.64,117.19,118.64,0,118.02,...,0,0,0,0,0,0,0,0,0,0
1982-04-26 21:00:00,118.94,119.33,118.25,119.26,118.94,119.33,118.25,119.26,0,118.94,...,0,0,0,0,0,0,0,0,0,0
1982-04-27 21:00:00,119.07,119.26,117.73,118.00,119.07,119.26,117.73,118.00,0,119.07,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-25 21:00:00,5481.75,5499.05,5463.59,5480.89,5482.35,5499.65,5464.09,5481.29,84383,5482.05,...,0,0,0,0,0,1,0,0,4,++
2024-06-26 21:00:00,5480.89,5502.79,5463.73,5497.35,5481.29,5503.29,5464.33,5497.75,87412,5481.09,...,0,0,0,0,0,1,0,0,4,++
2024-06-27 21:00:00,5497.35,5532.83,5458.81,5481.51,5497.75,5533.33,5459.31,5482.11,132647,5497.55,...,0,0,0,0,0,1,0,0,4,++
2024-06-30 21:00:00,5481.51,5491.61,5455.15,5482.60,5482.11,5492.21,5455.65,5483.20,108295,5481.81,...,0,0,0,0,0,0,1,0,3,--
2024-07-01 21:00:00,5482.60,5508.54,5453.98,5506.52,5483.20,5509.04,5454.58,5507.02,74881,5482.90,...,0,0,0,0,0,0,0,1,2,-+

In [6]:

df=mfih.column_mfi_str_in_dataframe_to_id(df,t)

In [7]:
df

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,...,price_peak_above,price_peak_bellow,ao_peak_above,ao_peak_bellow,mfi_sq,mfi_green,mfi_fade,mfi_fake,mfi_sig,mfi_str
Date,,,,,,,,,,,,,,,,,,,,,
1982-04-21 22:00:00,115.48,116.58,114.44,115.72,115.48,116.58,114.44,115.72,0,115.48,...,0,0,0,0,0,0,0,0,0,0
1982-04-22 22:00:00,115.72,117.25,115.72,117.19,115.72,117.25,115.72,117.19,0,115.72,...,0,0,0,0,0,0,0,0,0,0
1982-04-23 22:00:00,118.02,118.64,117.19,118.64,118.02,118.64,117.19,118.64,0,118.02,...,0,0,0,0,0,0,0,0,0,0
1982-04-26 21:00:00,118.94,119.33,118.25,119.26,118.94,119.33,118.25,119.26,0,118.94,...,0,0,0,0,0,0,0,0,0,0
1982-04-27 21:00:00,119.07,119.26,117.73,118.00,119.07,119.26,117.73,118.00,0,119.07,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-25 21:00:00,5481.75,5499.05,5463.59,5480.89,5482.35,5499.65,5464.09,5481.29,84383,5482.05,...,0,0,0,0,0,1,0,0,4,4
2024-06-26 21:00:00,5480.89,5502.79,5463.73,5497.35,5481.29,5503.29,5464.33,5497.75,87412,5481.09,...,0,0,0,0,0,1,0,0,4,4
2024-06-27 21:00:00,5497.35,5532.83,5458.81,5481.51,5497.75,5533.33,5459.31,5482.11,132647,5497.55,...,0,0,0,0,0,1,0,0,4,4
2024-06-30 21:00:00,5481.51,5491.61,5455.15,5482.60,5482.11,5492.21,5455.65,5483.20,108295,5481.81,...,0,0,0,0,0,0,1,0,3,3
2024-07-01 21:00:00,5482.60,5508.54,5453.98,5506.52,5483.20,5509.04,5454.58,5507.02,74881,5482.90,...,0,0,0,0,0,0,0,1,2,2