In [8]:


import sys
import os
import pandas as pd


# Use the current working directory instead of __file__
current_working_directory = os.getcwd()
sys.path.insert(0, current_working_directory)

In [9]:
from jgtpy import mfihelper as mfih

In [10]:

t="D1"
ctxfn="/var/lib/jgt/full/data/cds/SPX500_D1.csv"
ctxfn="/b/Dropbox/_jgongery/hfsp_basjupyterlab2406private/data/jgtml_mx_pto_240702_CONT02_mfi_str_df_SPX500_D1.csv"

In [11]:
df=pd.read_csv(ctxfn, index_col=0, parse_dates=True)

In [15]:
df.tail(2)

,mfi_str_M1,mfi_str_W1,mfi_str,target,vaoc,fdb,mfi_str_M1_lag_1,mfi_str_M1_lag_2,mfi_str_M1_lag_3,mfi_str_M1_lag_4,...,mfi_str_W1_lag_1,mfi_str_W1_lag_2,mfi_str_W1_lag_3,mfi_str_W1_lag_4,mfi_str_W1_lag_5,mfi_str_lag_1,mfi_str_lag_2,mfi_str_lag_3,mfi_str_lag_4,mfi_str_lag_5
Date,,,,,,,,,,,,,,,,,,,,,
2023-11-16 22:00:00,2,2,2,-268.0,9,-1,-+,-+,-+,-+,...,-+,-+,-+,-+,--,--,+-,++,--,-+
2023-11-28 22:00:00,2,1,4,-413.0,17,-1,-+,-+,-+,-+,...,+-,+-,--,--,--,++,++,+-,-+,++

In [13]:

df=mfih.column_mfi_str_in_dataframe_to_id(df,t)

In [16]:
df.tail(2)

,mfi_str_M1,mfi_str_W1,mfi_str,target,vaoc,fdb,mfi_str_M1_lag_1,mfi_str_M1_lag_2,mfi_str_M1_lag_3,mfi_str_M1_lag_4,...,mfi_str_W1_lag_1,mfi_str_W1_lag_2,mfi_str_W1_lag_3,mfi_str_W1_lag_4,mfi_str_W1_lag_5,mfi_str_lag_1,mfi_str_lag_2,mfi_str_lag_3,mfi_str_lag_4,mfi_str_lag_5
Date,,,,,,,,,,,,,,,,,,,,,
2023-11-16 22:00:00,2,2,2,-268.0,9,-1,-+,-+,-+,-+,...,-+,-+,-+,-+,--,--,+-,++,--,-+
2023-11-28 22:00:00,2,1,4,-413.0,17,-1,-+,-+,-+,-+,...,+-,+-,--,--,--,++,++,+-,-+,++