In [2]:


import sys
import os
import pandas as pd


# Use the current working directory instead of __file__
current_working_directory = os.getcwd()
sys.path.insert(0, current_working_directory)

## MFIHELPER might Migrate to jgtml for now

In [3]:
from jgtpy import mfihelper as mfih

In [7]:

t="D1"
ctxfn="/var/lib/jgt/full/data/cds/SPX500_D1.csv"
ctxfn="/b/Dropbox/_jgongery/hfsp_basjupyterlab2406private/data/mxpto_2407_C02_mfi_str_df_SPX500_D1.csv"

In [8]:
df=pd.read_csv(ctxfn, index_col=0, parse_dates=True)

In [9]:
df.tail(2)

,Volume,Open,High,Low,Close,Median,ao,ac,jaw,teeth,...,mfi_str_W1_lag_1,mfi_str_W1_lag_2,mfi_str_W1_lag_3,mfi_str_W1_lag_4,mfi_str_W1_lag_5,mfi_str_lag_1,mfi_str_lag_2,mfi_str_lag_3,mfi_str_lag_4,mfi_str_lag_5
Date,,,,,,,,,,,,,,,,,,,,,
2024-06-30 21:00:00,108295,5481.81,5491.91,5455.40,5482.90,5473.655,0.174818,-0.107583,5343.722656,5418.522808,...,3,3,3,3,3,4,4,4,3,2
2024-07-01 21:00:00,22169,5482.90,5486.27,5457.03,5459.52,5471.650,0.165693,-0.094804,5354.768990,5425.244957,...,2,3,3,3,3,3,4,4,4,3

In [10]:

df=mfih.column_mfi_str_in_dataframe_to_id(df,t)

In [11]:
df.tail(2)

,Volume,Open,High,Low,Close,Median,ao,ac,jaw,teeth,...,mfi_str_W1_lag_1,mfi_str_W1_lag_2,mfi_str_W1_lag_3,mfi_str_W1_lag_4,mfi_str_W1_lag_5,mfi_str_lag_1,mfi_str_lag_2,mfi_str_lag_3,mfi_str_lag_4,mfi_str_lag_5
Date,,,,,,,,,,,,,,,,,,,,,
2024-06-30 21:00:00,108295,5481.81,5491.91,5455.40,5482.90,5473.655,0.174818,-0.107583,5343.722656,5418.522808,...,3,3,3,3,3,4,4,4,3,2
2024-07-01 21:00:00,22169,5482.90,5486.27,5457.03,5459.52,5471.650,0.165693,-0.094804,5354.768990,5425.244957,...,2,3,3,3,3,3,4,4,4,3