In [3]:

full_fn_not_with_dt_crop="samples/SPX500_H1_240229.pds.full.csv"

In [5]:
import pandas as pd

In [6]:
df=pd.read_csv(full_fn_not_with_dt_crop,index_col=0,parse_dates=True)

In [21]:
df.tail(12)

                     Volume     Open     High      Low    Close    Median
Date
2024-02-28 17:00:00    3783  5077.10  5078.11  5065.74  5070.11  5071.925
2024-02-28 18:00:00    3265  5070.11  5079.37  5066.35  5077.87  5072.860
2024-02-28 19:00:00    4646  5077.87  5078.37  5063.10  5069.86  5070.735
2024-02-28 20:00:00    4915  5069.86  5074.12  5065.10  5073.85  5069.610
2024-02-28 21:00:00    1391  5073.85  5074.12  5059.10  5061.87  5066.610
2024-02-28 23:00:00    1173  5061.87  5065.79  5061.87  5062.80  5063.830
2024-02-29 00:00:00     789  5062.80  5069.81  5062.55  5068.81  5066.180
2024-02-29 01:00:00     865  5068.81  5071.30  5067.56  5069.31  5069.430
2024-02-29 02:00:00     833  5069.31  5073.56  5069.30  5072.82  5071.430
2024-02-29 03:00:00     681  5072.82  5073.32  5070.30  5072.81  5071.810
2024-02-29 04:00:00     551  5072.81  5076.82  5072.81  5076.30  5074.815
2024-02-29 05:00:00     145  5076.30  5077.18  5075.30  5075.55  5076.240

In [34]:

# A Row we have

crop_last_dt = "2024-02-28 17:00:00"

last_row_dt = df.index[-1]
last_row_dt

Timestamp('2024-02-29 05:00:00')

In [38]:
def test_if_having_crop_last_dt(df,crop_last_dt):
    tst=df.tail(1).copy()
#we_have_our_dt_crop = last_row_dt > crop_last_dt
    tst = tst[tst.index >= crop_last_dt]
    return len(tst)>0 # Expecting 1 if we have the date

In [39]:

test_if_having_crop_last_dt(df,crop_last_dt)

True

In [40]:


crop_last_dt = "2024-03-05 12:00"

last_row_dt = df.index[-1]
last_row_dt

Timestamp('2024-02-29 05:00:00')

In [41]:

test_if_having_crop_last_dt(df,crop_last_dt)

False

In [29]:
tst=df.tail(1).copy()
#we_have_our_dt_crop = last_row_dt > crop_last_dt
tst = tst[tst.index >= crop_last_dt]
len(tst) #Expect 0

0

0

In [18]:
tst

                     Volume    Open     High     Low    Close   Median
Date
2024-02-29 05:00:00     145  5076.3  5077.18  5075.3  5075.55  5076.24